body{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

/*TOPBAR STYLES*/
.topbar-container{
  top: 0;
  left: 0;
  padding: 0 20px;
}
.topbar-left{
  float: left;
  font-weight: lighter;
}
.topbar-right{
  float: right;
}
.topbar-button{
  cursor: pointer;
}

/*HEADER STYLES*/
.header-container{
  border: 10px solid black;
  height: 500px;
}


/*ABOUT STYLES*/
.about-container{
  border: 10px solid grey;
  height: 500px;
}


/*PORTFOLIO STYLES*/
.portfolio-container{
  border: 10px solid blue;
  height: 500px;
}


/*LITTLETHINGS STYLES*/
.littlethings-container{
  border: 10px solid green;
  height: 500px;
}


/*FOOTER STYLES*/
.footer-container{
  text-align: center;
}
.socialmediabutton {
  height: 30px;
}
